body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  font-family: cursive;
}

.iphone {
  position: relative;
  width: 350px;
  height: 600px;
  margin: 0 auto;
  background-color: rgb(242, 229, 154);
  border: 3px solid white;
  border-radius: 15px;
  padding: 10px;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.chat-screen {
  padding: 10px;
  flex: 1;
  overflow-y: auto;
}

.input-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

input[type="text"] {
  flex: 1;
  width: 50px;
  height: 18px;
  padding: 10px;
  border: 1px solid blue; /* Fixed typo: should be "1px solid blue" */
  border-radius: 15px;
  background-color: #f0f0f0;
  margin: 0px 10px 0px 10px;
}

#file-input {
  display: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  padding: 7px 7px;
}

/* Emoji Picker Styles */
#emoji-picker {
  position: absolute;
  bottom: 55px;
  left: 130px;
  right: 30px;

  display: none;
}

.emoji-button {
  color: rgba(163, 139, 2, 0.879);
}

#camera-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#camera-stream {
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.send {
  height: 32px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  background-color: rgb(56, 56, 238);
  color: whitesmoke;
  border: none;
  border-radius: 7px;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 900px) {
  .iphone {
    width: 80%;
    max-width: 400px; /* Limit width for larger screens */
  }
}

@media screen and (max-width: 600px) {
  .iphone {
    width: 90%;
    max-width: 300px; /* Limit width for smaller screens */
  }
}

@media screen and (max-width: 350px) {
  .iphone {
    width: 95%;
  }
}
